@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
body {
    font-family: "Lato";
    color: #1E212C;
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
[class*="__container"]{
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 15px;
	padding-right: 15px;
}
.header {
    font-weight: 700;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 0;
   z-index: 3;  
}
.header__container {
    display: flex;
    gap: 60px;
    align-items: center;
}
.header__logo:hover {
    transform: scale(1.1,1.1);
    transition: all 0.5s ease 0s;
}
.navigation {
    flex-grow: 1;   
}
.navigation__list {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
	column-gap:40px;
	row-gap: 10px;
    position: relative;
}
.navigation__item:hover{
    text-decoration: underline;
    color:#FF3F3A;
}
.button-header {
	display: flex;
	flex-wrap: wrap;
    gap:35px;
}
.button-orange {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    width: 207px;
    height: 52px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 4px;
    z-index: 3;
}
.button-orange:hover{
    width: 207px;
    height: 52px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 4px;
    color: #FF3F3A;
    background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2)  100%);
    border: 3px solid #FF3F3A;
	transition: all 0.3s ease 0s;
}
.button-orange:hover::before {
	opacity: 1;
}
.button-header__register {
    background: url(../img/person.png) left no-repeat;
    padding:13px 0px 13px 30px;
    font-weight: 700;
    position: relative;
}
.button-header__register::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0px;
    left: 0%;
    height: 3px;
    transition: width 0.3s ease 0s;
    background-color: #4c4e57;
}
.button-header__register:hover::after{
    width: 100%;
}
.main__block{
    position: relative;
    background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2)  100%);  
}
.block__container {
    padding: 200px 0px 80px 0px;
}
.box {
    display: flex;
    justify-content: space-between ;
    position: relative;
    padding-right: 60px;
  }
.box__page {
    flex: 0 1 50%; 
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    padding: 0px 15px;
}
.page__animation {
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}
.page__animation::before {
    content: "";
    flex: 0 0 52px;
    background:#FF3F3A url(../img/polygon.png) center no-repeat;
    width:52px;
    height:52px;
    border-radius: 50%;
    z-index: 10;
}
.page__animation::after{
	content: "";
	position: absolute;
    left: 0;
	top: 0;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: rgba(255, 64, 58, 0.12);
	transform: scale(1.6);
	animation: circle 1.5s infinite ease;
}
@keyframes circle {
	0% {
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}
.page__text {
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
}
.button-page {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
}
.button-page__about-us {
    width: 148px;
    height: 52px;
    border: 1px solid #F75E05; 
    color: #F75E05;
    border-radius: 4px;
    z-index: 3;
}
.button-page__about-us:hover {
    width: 148px;
    height: 52px;
    border: 1px solid #FF3F3A; 
    color: #ffffff;
    background-color: #FF3F3A;
    border-radius: 4px;
    z-index: 3;
	transition: all 0.3s ease 0s;
}
.box__illustration {
    flex: 0 1 50%; 
}
.illustration-main__image{
    max-width: 108%;
	transform: translate(8%,0px);
}
.informations-block {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin-bottom: 22px;
    gap: 10px;
    padding-top: 200px; 
}
.item-informations {
    display: flex;
    align-items: center;
    gap: 12px;
}
.item-informations__number {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    z-index: 10;
}
.item-informations__text {
    line-height: 160%;
}
.information-block__circle {
    width: 8px;
    height: 8px;
    flex: 0 0 8px;
    background-color: #FF3F3A;
    border-radius: 50px;
}
.block__decor {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.decor__main {
    position: absolute;
    z-index: 0;
}
.decor__main--1 {
    background: url(../img/vector.svg) 0 0 no-repeat;
    width: 61px;
    height: 61px;
    top: 70.2%;
    left: 38.2%;
}
.decor__main--2 {
    background: url(../img/circles.svg) 0 0 no-repeat;
    width: 284px;
    height: 284px;
    bottom: -9.4%;
	left: -6.2%;
}
.decor__main--3 {
    background: url(../img/shapes.svg) 0 0 no-repeat;
    width: 96px;
    height: 96px;
    top: 12.3%;
	left: 4.27%;
}
.decor__main--4 {
    background: url(../img/shapes.svg) 0 0 no-repeat;
    transform: rotate(135deg);
    width: 110px;
    height: 96px;
    top: -4.6%;
	left: 86.875%;
}
.decor__main--5 {
    background: url(../img/shapes1.svg) 0 0 no-repeat;
    width: 88px;
    height: 47px;
    top: 45%;
	left: 40.73%;
}
.decor__main--6 {
    background: url(../img/dots.svg) 0 0 no-repeat;
    width: 187px;
    height: 137px;
    bottom: 17.96%;
	right: -1.56%;
}
.why-createx {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 180px 0px 80px 0px;
    position: relative;
}
.block-why-createx {
    display: flex;
    gap: 130px;  
}
.block-why-createx__image {
   flex: 0 1 56% ; 
   z-index: 2;
}
.block-why-createx__image img{
    width: 100%;
    border-radius: 4px;
}
.block-why-createx__block {
    flex: 0 1 31% ;
    padding-bottom: 40px;
}
.block-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}
.subtitle {
    font-weight: 700;
    line-height: 150%;
}
.title {
    font-weight: 900;
    font-size: 46px;
    line-height: 160%;
}
.block-text__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-evenly ;
}
.list__item {
    line-height: 160%;
    padding-left: 32px;
    background: url(../img/vector.png) 0 6px no-repeat;
}
.block-text__button {
    width: 161px;
    height: 44px;
}
.block-text__button:hover {
    width: 161px;
    height: 44px;
}
.decor__main--7 {
    background: url(../img/dots2.svg) 0 0 no-repeat;
    width: 226px;
    height: 234px;
    top: 27.56%;
	left: -5.78%;
    z-index: 0;
}
.decor__main--8 {
    background: url(../img/circles2.svg) 0 0 no-repeat;
    width: 287px;
    height: 287px;
    top: 53.4%;
	right: -8.6%;
}
